<main class="bg-gray-50 dark:bg-slate-900 flex flex-col justify-center items-center h-full">
  <section class="max-w-lg text-gray-700 dark:text-gray-400 text-lg">
    <img class="h-40 w-40 rounded-full mx-auto" src="/images/assistant.png" alt="">
    <p class="mt-8 tracking-wide">Bonjour à tous ! Je suis Kuartzy, votre nouvel assistant virtuel !</p>
    <p class="mt-8 tracking-wide">
      À travers cette application de chat, je suis votre compagnon fidèle qui
      vous aidera à mieux gérer votre temps au quotidien.
    </p>
    <p class="mt-8 tracking-wide">
      Grâce à moi, vous pourrez rester organisé et productif tout en vous
      amusant. Alors, n'hésitez pas à me poser toutes vos questions,
      je suis là pour vous aider !
    </p>
  </section>

  <section class="mt-8">
    <form action="/conversations" method="post" id="new-conversation">
      <button class="bg-green-600 dark:bg-green-800 text-white px-3 py-2 cursor-pointer rounded" type="submit">
        Commencer
        <svg class="w-5 h-5 inline-block ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </button>
    </form>
  </section>
</main>
