<main class="bg-gray-50 dark:bg-slate-900 flex flex-col justify-center items-center h-full">
  <section class="max-w-lg text-gray-700 dark:text-gray-400 text-lg">
    <img class="h-40 w-40 rounded-full mx-auto" src="/images/assistant.png" alt="">
    <p class="mt-8 tracking-wide">Bonjour ! Je suis Kuartzy, votre nouvel assistant virtuel !</p>
    <div class="mt-8 border border-gray-500 dark:border-slate-600 rounded text-sm font-mono">
      <% @models.each do |model, availability| %>
        <div class="flex items-center justify-between px-4 py-2">
          <p><%= model %></p>
          <p>
            <% if availability %>
              <!-- checkmark -->
              <svg class="w-5 h-5 text-green-600 dark:text-green-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
            <% else %>
              <!-- cross -->
              <svg class="w-5 h-5 text-red-600 dark:text-red-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </section>

  <section class="mt-8">
    <form action="/conversations" method="post" id="new-conversation">
      <button class="bg-green-600 dark:bg-green-800 text-white px-3 py-2 cursor-pointer rounded" type="submit">
        Commencer
        <svg class="w-5 h-5 inline-block ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </button>
    </form>
  </section>
</main>
