<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🤖 Kuartzy Bot</title>

    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/stylesheets/github-dark-theme.css">

    <script type="module">
      import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
      window.Stimulus = Application.start()

      Stimulus.register("chat-textarea", class extends Controller {
        static targets = [ "input", "textarea", "userForm", "assistantForm"]

        submit(event) {
          event.preventDefault();
          this.inputTarget.value = this.textareaTarget.innerText;
          this.textareaTarget.innerText = "";
          this.userFormTarget.requestSubmit();
        }

        requestAssistantMessage(event) {
          const usertFormSubmited = event.detail.formSubmission.formElement === this.userFormTarget;
          const successfulSubmit = event.detail.formSubmission.result.success;
          if (usertFormSubmited && successfulSubmit) {
            this.assistantFormTarget.requestSubmit();
          }
        }
      })
    </script>
    <script type="module">
      import * as Turbo from "https://cdn.skypack.dev/@hotwired/turbo";
    </script>
  </head>
  <body class="bg-white dark:bg-slate-900 h-screen overflow-hidden dark:text-gray-100">
    <header class="h-10">
      <nav class="flex justify-between items-center bg-white dark:bg-slate-900 space-x-4">
        <a class="bg-gray-800 text-white px-3 py-2" href="/">Home</a>
        <form action="/conversations" method="post">
          <input class="bg-green-600 dark:bg-green-800 text-white px-3 py-2 cursor-pointer" type="submit" value="Nouvelle conversation">
        </form>
      </nav>
    </header>

    <main
      class="bg-gray-100 dark:bg-slate-950 mx-auto max-w-5xl pb-10 h-full flex flex-col justify-between pb-10"
    >
      <%= yield %>
    </main>
  </body>
</html>
