<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🤖 Kuartzy Bot</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module">
      import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
      window.Stimulus = Application.start()

      Stimulus.register("chat-textarea", class extends Controller {
        static targets = [ "input", "textarea", "userForm", "assistantForm"]

        submit(event) {
          event.preventDefault();
          this.inputTarget.value = this.textareaTarget.innerText;
          this.textareaTarget.innerText = "";
          this.userFormTarget.requestSubmit();
        }

        requestAssistantMessage(event) {
          const usertFormSubmited = event.detail.formSubmission.formElement === this.userFormTarget;
          const successfulSubmit = event.detail.formSubmission.result.success;
          if (usertFormSubmited && successfulSubmit) {
            this.assistantFormTarget.requestSubmit();
          }
        }
      })
    </script>
    <script type="module">
      import * as Turbo from "https://cdn.skypack.dev/@hotwired/turbo";
    </script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="bg-white h-full overflow-hidden">
    <header class="sticky top-0 w-full">
      <nav class="h-10 flex justify-between items-center bg-gray-200 space-x-4">
        <a class="bg-gray-800 text-white px-3 py-2" href="/">Home</a>
        <form action="/conversations" method="post">
          <input class="bg-green-600 text-white px-3 py-2 cursor-pointer" type="submit" value="Nouvelle conversation">
        </form>
      </nav>
    </header>

    <main
      class="bg-gray-100 py-10 mx-auto max-w-5xl sm:px-6 lg:px-8 overflow-y-auto"
      style="height: calc(100vh - <%=10 / 4 %>rem)"
    >
      <%= yield %>
    </main>
  </body>
</html>
