<turbo-stream action="append" target="messages">
  <template>
    <li class="py-4" id="message_<%= @message.id %>">
      <div class="sm:flex mb-4" >
        <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
          <img src="/images/<%= @message.role %>.png" alt="" class="h-12 w-12">
        </div>
        <div>
          <h4 class="text-lg font-bold"><%= @message.role %></h4>
          <div class="mt-1">
            <%= @message.content_html %>
          </div>
        </div>
      </div>
    </li>
  </template>
</turbo-stream>
