<turbo-stream action="prepend" target="messages">
  <template>
    <%# assistant message's loader %>
    <li id="assistant-answer" class=" hover:bg-gray-100 py-4 border-b border-b-gray-300 dark:border-b-slate-800">
      <div class="flex justify-center items-center">
        <div class="animate-spin inline-block w-8 h-8 border-2 border-r-transparent rounded-full"></div>
        <span class="sr-only">Loading...</span>
      </div>
    </li>

    <%# user's message %>
    <%= erb :message, locals: { message: @message } %>
  </template>
</turbo-stream>
