<main class="bg-gray-50 dark:bg-slate-950 h-full flex flex-col justify-end p-4 pb-10 overflow-hidden">
  <ul role="list" class=" flex flex-col-reverse overflow-y-auto" id="messages">
    <% @conversation.messages[1..].reverse.each do |message| %>
      <%= erb :message, locals: { message: message } %>
    <% end %>
  </ul>

  <section class="sm:px-6 lg:px-8 bg-gray-50 dark:bg-slate-950">
    <div data-controller="chat-textarea">
      <form
        action="/conversations/<%= @conversation.id %>/messages"
        method="post"
        class="mt-3 mb-8 relative"
        data-chat-textarea-target="userForm"
        data-action="turbo:submit-end@document->chat-textarea#requestAssistantMessage"
      >
        <input type="hidden" name="content" data-chat-textarea-target="input">
        <div
          class="pl-14 w-full min-h-[3rem] bg-gray-200 dark:bg-slate-800 p-1 rounded before:content-['Message…'] before:p-1 before:text-gray-500 focus:before:content-[''] focus:outline-none"
          contenteditable="true"
          data-chat-textarea-target="textarea"
          data-action="keydown.enter->chat-textarea#submit"
          autofocus
        >
        </div>
      </form>
      <form
        action="/conversations/<%= @conversation.id %>/assistant_message"
        method="post"
        data-chat-textarea-target="assistantForm"
      >
      </form>
    </div>
  </section>
</main>
